table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 12px 0;
}

.order-picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}

.amt-operation svg:hover {
  fill: #fff;
}
.Cart {
  padding-top: 2px;
}

.cartbtn {
  height: 50px;
  cursor: pointer;
  width: 100%;
}
.cartbtn img {
  height: 50px;
  width: 50px;
}
.cart .user {
  text-align: left;
}
.alert {
  position: absolute;
  border: 3px solid black;
  border-radius: 100%;
  width: 19px;
  height: 19px;
  color: white;
  font-weight: 900;
  right: 100px;
  background-color: black;
  right: 86px;
}
.cart-header {
  width: 100%;
  text-align: center;
}
.c-footer {
  text-align: right;
  width: 100%;
  padding: 1px 10%;
}
.booking-cart {
  padding: 1px 10px;

  transition: 2s;
}
.car-notice {
  width: 50%;
  padding: 7px;
  border: 2px solid rgb(227, 115, 94,0.6);
  padding: 2px;
  border-radius: 9px;
  background-color: rgb(227, 115, 94,0.4);
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  margin: 2px 25%;
}
.car-notice p{
  margin: 9px;
}

td a{
  text-decoration: underline;
  font-weight: 400;
}
td a:hover{
  font-weight: 700;
}
@media only screen and (max-width: 1000px) {
  .Cart {
    padding-top: 65px;
  }
  .amt-operation {
    padding: 7px;
    margin: 5px;
  }
  .booking-cart {
    padding: 1px 2px;
  }
  .car-notice{
    width: 100%;
    font-size: 13px;
    margin: 0px;
  }
}
@media only screen and (max-width: 700px) {
  .Cart {
    padding-top: 65px;
  }
  .amt-operation {
    padding: 3px;
    margin: 2px;
  }
  .amt-operation svg:hover {
    fill: #fff;
  }
  td {
    font-size: 13px;
  }
}
