
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 12px 0;
  }
  .order-picture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
  }
  .Cart{
    padding-top: 2px;
  }
  @media only screen and (max-width:1000px) {
    .Cart{
      padding-top: 65px;
    }
    
  }