
.account > img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
.accountsection {
    position: fixed;
    background-color: ghostwhite;
    padding: 10px;
    right: 5px;
    height: 20%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.3);
    overflow-y: auto;
    transition: 2s;
 
  }
  