.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0px;
}

.dialog-content {
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
  max-width: 550px;
  position: relative;
  z-index: 1001;
  overflow: hidden;
  text-align: center;
}

.dialog-header,
.dialog-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header {
  justify-content: space-between;
}

.dialog-body {
  padding: 20px 0;
}

.dialog-title {
  flex: 1;
}

.dialog-close {
  cursor: pointer;
}

select {
  border-radius: 17px;
  width: 100px;
  border: 2px solid black;
  cursor: pointer;
  padding: 3px;
  text-align: center;
  font-weight: 600;
}
select:focus {
  cursor: pointer;
  outline: 1px solid black;
}



.booking > img {
  height: 150px;
}

.dialog-image {
  background-color: ghostwhite;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 220px;
 
}
.booking-content {
  margin: 3px 12px;
  padding: 2px;
}

.dialog-image img{
  height: 100%;
  width: auto;
  object-fit: cover;
}
