.product-body {
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
  margin-top: 60px;
  padding: 2px 10%;
  gap: 20px;
}

.product-header,
.product-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-header {
  justify-content: space-between;
}
.product-buttons {
  width: 100%;
  text-align: center;
  padding: 10px 3px;
  margin: 4px 1px;
}

.product-buttons button {
  min-width: 160px;
  margin: 7px 10px;
}
.product-title {
  flex: 1;
}

.product-close {
  cursor: pointer;
}
.page-input {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: #fff;
}

select {
  border-radius: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 3px;
  padding: 10px 20px;
  font-weight: 600;
  height: 50px;
}
select:focus {
  cursor: pointer;
  outline: none;
}

.booking > img {
  height: 150px;
}

.product-image {
  background-color: ghostwhite;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  min-height: 300px;
  display: flex;
  align-items: center;
}
.booking-content {
  margin: 3px 12px;
  padding: 2px;

  align-items: center;
}
.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .product-body {
    display: grid;
    grid-template: auto auto / repeat(1, 1fr);
    margin-top: 60px;
    padding: 2px 2px;
  }
  .product-image{
    max-height: 420px;
  }
  .product-image img {
    object-fit: contain;
  }
  .product-buttons button {
    min-width: 140px;
  }
}


@media only screen and (max-width: 700px) {
 
.product-image{
  max-height: 392px;
}
  
 
}