.service {
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.23);
  background-color: ghostwhite;
  height: 300px;
  border-radius: 12px;
  font-size: 13px;
}
.service-content {
  margin: 1px 6px;
}
.service-picture {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 150px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.service-picture img {
  width: 100%;
  display: flex;
  max-height: 150px;
  align-items: center;
  object-fit: cover;
}
.service:hover {
  cursor: pointer;
}

.booking-card {
  max-height: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.23);
  cursor: pointer;

 
}
.booking-card-image {
  height: 230px;
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.booking-card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.booking-card-data h3 {
  font-size: 20px;
  text-transform: capitalize;
}
.offer-tag{
  position: absolute;
  top: 1px;
  left: 2px;
  background-color:#fff ;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.4);
  padding: 3px 10px;
  height: 30px;
  line-height: 1;
  border-radius: 10px;
}

.trips-tag{
  

  background-color:#fff ;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.4);
  padding: 3px 10px;
  height: 30px;
  line-height: 1;
  border-radius: 10px;
}
.offer-tag p,.trips-tag p{
  font-weight: 700;
  color: green;
  margin: 1px;
  font-size: 16px;
}
@media only screen and (max-width: 800px) {
  .service-picture {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 170px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .service-picture img {
    width: 100%;
    display: flex;
    max-height: 170px;
    align-items: center;
  }
  .service {
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.23);
    background-color: ghostwhite;
    height: 320px;
    border-radius: 12px;
    font-size: 13px;
  }
}
